$white: #fff;
$black: #000;

// First Options
$darkBlue: #011627;
$powder: #fdfffc;
$luluBlue: #0c73af;
$rose: #e71d36;
$yellow: #ff9f1c;

// Second Options
$yellowOrange: #ffbc42;
$forestGreen: #157f1f;
$liberty: #4c4c9d;
$blue: #2274ff;
$vividOrange: #fb6107;

// Third Option
$bdazzleBlue: #26547c;
$paradisePink: #eb5160;
$orangeYellow: #ffd166;
$caribbeanGreen: #06d6a0;
$snow: #fffcf9;
